* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #0a1b2b;
  color: #fff;
  font-family: "DM Serif Display", serif;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hide {
  visibility: hidden;
  opacity: 0;
  /* z-index: -1; */
}

.show {
  visibility: visible;
  opacity: 1;
  /* z-index: 2; */
}

/**** GENERAL ****/
#container {
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  max-width: 1400px;
  position: relative;
  margin: auto;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


section {
  max-width: 760px;
  background-color: #3b4f61;
  width: 100%;
  border-radius: 0.5em;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: 0;
}

p,
button,
#questions label {
  font-family: "Inter", sans-serif;
}

p {
  font-size: 1.2em;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: 0.2em;
  padding: 0.8em;
}

#welcome button,
.quotes button {
  width: 10em;
}

#container .quotes,
#container form,
#questions,
#gallery {
  display: none;
}

#add-btn {
  display: none;
  position: fixed;
  bottom: 2em;
  right: 1em;
  background: none;
  padding: 0;
  z-index: 1;
}

#add-btn i {
  color: #fff;
  font-size: 4em;
}

#exit-form {
  padding: 0;
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 1em;
  right: 1em;
  color: #fff;
  background: none;
}

#exit-form i {
  font-size: 2em;
}

/**** HEADER SECTION ****/
header {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 1em;
  margin-bottom: 1em;
  background-color: #0a1b2b;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  cursor: pointer;
}


header>i {
  /* position: absolute; */
  /* top: 1em; */
  /* right: 1em; */
  margin: 1em;
  color: #fff;
  font-size: 1.4em;
}

/**** WELCOME SECTION ****/
#welcome p {
  margin: 2.2em 0;
}

#welcome-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: auto;
}

#welcome-btns button {
  margin-bottom: 0.5em;
  background-color: #fff;
  color: #0a1b2b;
  font-weight: 600;
}

/**** QUOTES SECTION ****/
.quotes {
  width: fit-content;
  max-width: 760px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-self: flex-end; */
}

#intro-quote,
#submit-quote {
  width: auto;
}

#intro-quote h3,
#submit-quote h3 {
  text-align: right;
  line-height: 1.3em;
  letter-spacing: 0.01em;
  align-self: flex-end;
}

#intro-quote h3 {
  font-size: 1.7em;
}

#submit-quote h3 {
  font-size: 1.4em;
}

.quotes button,
#questions button {
  background-color: #2c4357;
  color: #fff;
  font-weight: 500;
  margin-top: 2em;
}

/****  QUESTIONS SECTION ****/
form {
  width: 100%;
}

#questions {
  position: relative;
}

#questions p {
  font-family: "DM Serif Display", serif;
  font-size: 2em;
  text-align: center;
}

#questions label {
  font-size: 0.65em;
  text-transform: uppercase;
  /* margin-bottom: 5px; */
}

#questions input,
#questions textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.5em;
  font-size: 2em;
  color: #fff;
  background: none;
  border: 2px solid #fff;
  border-radius: 0.5em;
  margin-bottom: 2em;
  padding: 0.5em;
}

#questions textarea {
  height: 8em;
  font-size: 1.5em;
}

.buttons {
  display: block;
  margin: auto;
  text-align: center;
}

#questions button {
  margin: 0 0.3em;
}

/****  GALLERY SECTION ****/
#gallery {
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 1fr; */
  column-gap: 1em;
  row-gap: 1em;
  /* grid-auto-flow: dense; */
  max-width: 100%;
  background-color: #0a1b2b;
  margin-bottom: 20em;
  padding: 2.5em 0.5em 8em 0.5em;
}

.gallery-item {
  background-color: #3b4f61;
  border-radius: 0.5em;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  cursor: pointer;
}

.gallery-item:hover {
  box-shadow: 0 0 0.8em #3b4f61;
}

.gallery-item p {
  width: 100%;
  padding: 1em;
  margin: 0;
  text-align: center;
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* .gallery-quote {
    height: 100%;
}
 */

/**** OVERLAY SECTION ****/
#overlay-background,
#overlay {
  transition-property: visibility, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  z-index: 2;
}

#overlay-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #1a2b39;
  opacity: 80%;
}

#overlay {
  width: 85%;
  max-width: 760px;
  position: fixed;
  background-color: #3b4f61;
  border-radius: 0.5em;
  margin: 1.875em;
  padding: 2.5em;
  /* padding: 1.25em; */
}

#overlay .fa-rectangle-xmark {
  font-size: 1.1em;
  position: absolute;
  right: 0.625em;
  top: 0.625em;
}

#overlay .fa-rectangle-xmark:hover {
  cursor: pointer;
}

#time {
  /* font-size: 0.625em; */
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  margin-top: 1.5em;
}

#time p {
  margin: 0.2em 0;
}

#overlay h4 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  margin: 0;
}


#overlay h4,
#time p {
  font-size: 0.625em;
}

/* 
#paragraph p {
  font-size: 1.125em;
}
 */
.description p {
  margin: 0.05em 0 0.68em 0;
}

#paragraph {
  margin-top: 0;
  /* margin: 0.05em 0 2.19em 0; */
}

@media only screen and (min-width: 600px) {
  section {
    align-items: center;
  }

  /**** WELCOME SECTION ****/
  #welcome p {
    width: 80%;
    align-self: center;
    text-align: center;
  }

  #welcome-btns {
    justify-content: space-around;
    max-width: 50%;
  }

  /****  QUESTIONS SECTION ****/
  form {
    width: 60%;
  }

  /****  GALLERY SECTION ****/
  #gallery {
    padding: 2.5em 2.5em 6em 2.5em;
  }

  .gallery-item p {
    font-size: 1.6em;
  }

  /**** OVERLAY SECTION ****/
  #overlay .fa-rectangle-xmark {
    font-size: 1.6em;
  }

  #overlay h4,
  #time p {
    font-size: 0.8em;
  }

  .description p,
  #paragraph {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 1000px) {
  .gallery-item p {
    font-size: 2em;
  }

  .gallery-quote h3 {
    font-size: 1.8em;
  }

  /**** OVERLAY SECTION ****/
  #overlay {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    /* height: 375px; */

  }

  .description:first-of-type {
    width: 30%;
  }

  .description:last-of-type {
    width: 50%;
    align-self: center;
  }

  /* #overlay h4,
  #time p {
    font-size: 1.2em;
  }

  .description p,
  #paragraph {
    font-size: 1.9em;
  } */
}