body {
    width: 1250px;
    margin: 20px auto;
    font-family: 'Noto Serif SC', serif;
    color: #333;
}

div:first-child {
    display: flex;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 475px;
    height: 700px;
    margin: auto 0;
    text-align: center;
    font-size: 50px;
    border-right: 7px dotted #e2ecd1;
}

#userh1 {
    font-size: 45px;
}

#right-side {
    margin: 10px;
    height: 680px;
    overflow: scroll;
}

section {
    margin: 0 10px 30px 10px;
}

h2 {
    font-size: 21px;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

figure {
    text-align: center;
}

figure a {
    color: rgb(97, 159, 240);
}

figure a:hover {
    font-weight: 700;
    color: rgb(64, 134, 226);
}

footer {
    text-align: center;
}

footer a {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    padding: 0 30px;
}

footer a:hover {
    text-decoration: underline;
}



