body {
    width: 1200px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}

/* STYLES FOR HEADER */
header {
    background-color: #e2ecd1;
    padding: 0 50px 20px 50px;
}

header h1 {
    font-size: 42px;
    margin: 13px 0 6px 0;
}

#banner {
    position: relative;
}

/* welcome */
#banner p {
    font-family: 'Lobster Two', cursive;
    font-size: 62px;
    position: absolute;
    top: 18px;
    left: 30px;
    margin: 0;
    animation: welcome 800ms linear infinite alternate;
}

@keyframes welcome {
    from {
        color: #dfeefa;
        text-shadow: 1px 1px #c7e2f1;
    }
    to {
        transform: scale(1.07);
        color: #b0d6eb;
        text-shadow: 1px 1px #88b8d1;

    }
}

/* tea steam */
#banner img:first-of-type {
    visibility: hidden;
    width: 100px;
    position: absolute;
    top: 125px;
    left: 135px;
}

/* tea pouring out */
#banner img:nth-of-type(2) {
    visibility: hidden;
    width: 70px;
    position: absolute;
    top: 112px;
    left: 170px;
}

/* tea kettle at an angle for initial look */
#banner img:nth-of-type(3) {
    width: 152px;
    position: absolute;
    top: 128px;
    left: 250px;
}

/* tea kettle */
#banner img:nth-of-type(4) {
    visibility: hidden;
    width: 190px;
    position: absolute;
    top: 125px;
    left: 223px;
}

/* table */
#banner img:nth-of-type(5) {
    width: 612px;
    position: absolute;
    top: 231px;
}

/* banner */
#banner img:last-of-type {
    width: 1100px;
    height: 250px;
    box-shadow: 1px 1px 5px rgb(211, 210, 210);
}

/* animation for tea coming out of kettle */
#banner:hover img:first-of-type {
    animation: tea-pour 10s linear forwards;
    animation-delay: 2.3s;
}

#banner:hover img:nth-of-type(2) {
    animation: tea-pour 2s linear forwards;
    animation-delay: 2.1s;
}

@keyframes tea-pour {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

/* hide initial/angled tea kettle when hover */
#banner:hover img:nth-of-type(3) {
    visibility: hidden;
}

/* animation for tea kettle */
#banner:hover img:nth-of-type(4) {
    animation: tea-kettle 6s linear forwards;
    visibility: visible;
}

@keyframes tea-kettle {
    0% {
        top: 125px;
    }
    10% {
        top: 90px;
    }
    20% {
        top: 60px;
        left: 218px;
        transform: rotate(-20deg);
    }
    30% {
        top: 38px;
        left: 207px;
        transform: rotate(-42deg);
    }
    75% {
        top: 38px;
        left: 207px;
        transform: rotate(-42deg);
    }
    80% {
        top: 60px;
        left: 218px;
        transform: rotate(-20deg);
    }
    90% {
        top: 90px;
    }
    100% {
        top: 125px;
    }
}

/* STYLES FOR MAIN */
main {
    display: flex;
    flex-direction: row;
    background-color: #e2ecd1;
    margin: 25px 0;
    padding: 20px;
}

section {
    background-color: white;
    margin: 10px 7px 10px 7px;
    width: 33%;
    box-shadow: 1px 1px 4px rgb(179, 176, 176);
}

section h2 {
    font-size: 25px;
    margin: 12px;
    padding: 10px;
    background-color: rgb(223, 239, 253);
    box-shadow: 1px 1px 2px rgb(179, 176, 176);
}

section h2:nth-of-type(2), 
section h2:nth-of-type(3) {
    margin-top: 35px;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol li {
    font-size: 18px;
    margin: 15px 20px;
}

ol li a {
    text-decoration: none;
    color: black;
    
}

ol li a:hover {
    font-weight: 500;
    cursor: pointer;
    border-bottom: 1px solid black;
}

/* STYLES FOR FOOTER */

footer {
    display: flex;
    flex-direction: row;
    background-color: #e2ecd1;
    margin-top: 5px;
    text-align: center;
    padding: 0 150px;
}

footer div {
    width: 33%;
    padding: 7px 0;
    font-weight: 600;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

footer a:hover {
    font-weight: 600;
    cursor: pointer;
}

footer div:first-child {
    display: flex;
}

footer div:first-of-type p {
    margin: 0 5px;
}

footer div:first-of-type p a:hover {
    font-weight: 500;
    text-decoration-line: underline;
}