* {
  margin: 0;
}

#container {
  font-family: "Nunito", sans-serif;
  min-width: 350px;
}

h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: #f2acac;
  font-weight: 400;
}

p {
  color: #bfbfbf;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

nav ul li ul {
  padding: 0;
  position: absolute;
  left: -9999px;
}

.hidden {
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
}

.showing {
  position: static;
  visibility: visible;
  opacity: 1;
}

/*********** HEADER NAVIGATION ***********/
header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1em 1.25em;
  box-shadow: 0px 4px 5px rgba(160, 160, 160, 0.2);
}

#logo {
  width: 5.8em; /* 30% */
  margin-right: 0.66em;
}

header h1 {
  font-size: 2.66em;
  font-weight: 300;
  color: #cbcbcb;
}

.fa-bars {
  font-size: 1.83em;
  color: #b1b1b1;
  padding-top: 0.27em;
}

header nav {
  margin-left: auto;
}

header nav ul li:hover ul {
  bottom: -6.66em;
  left: 0;
}

header nav ul li ul {
  box-shadow: 0px 4px 5px rgba(160, 160, 160, 0.2);
}

header nav ul li ul li {
  width: 100vw;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
  padding: 0.55em 0;
}

header nav a {
  font-size: 1.11em;
  font-weight: 500;
  display: block;
  width: 100vw;
  color: #c4c2c3;
  text-align: center;
}

/*********** CONTENT ***********/
.content {
  margin: 1.3em 1.25em 0 1.25em;
}

.intro img {
  display: block;
  width: 54.5%;
  margin: auto;
}

.intro h2 {
  font-size: 2.22em;
  margin: 0.55em 0 0.27em 0;
}

.intro p {
  font-size: 1.125em;
  line-height: 1.38em;
}

.intro button {
  font-size: 1.11em;
  border: 1.5px solid #d6ecdf;
  border-radius: 0.55em;
  margin: 1.11em 0 2.22em 0;
  padding: 0.55em 0.83em;
}

.intro button a {
  color: #f2acac;
}

/*********** FOOTER ***********/
footer {
  text-align: center;
  border-top: 1.5px solid #e5e5e5;
  padding: 1.875em 0;
}

footer button {
  border: 1.5px solid #d7eae0;
  border-radius: 50%;
  padding: 0.5em;
  margin: 0 0.5em;
}

footer i {
  font-size: 1.5em;
  color: #f2acac;
}

footer ul {
  display: flex;
  justify-content: center;
  margin: 1.25em 0;
}

footer ul li:first-of-type,
footer ul li:nth-of-type(2) {
  margin-right: 3.125em;
}

footer ul a {
  font-size: 1.0625em;
  color: #c4c2c3;
}

footer p {
  font-size: 0.75em;
  color: #b1b1b1;
}

/*********** HOME PAGE: ALL PROJECTS SECTION ***********/

#allprojects nav {
  width: fit-content;
  margin: auto;
  position: relative;
}

#allprojects nav button {
  font-size: 1.125em;
  color: #fff;
  background-color: #f2acac;
  border-radius: 0.625em;
  padding: 0.625em;
}

#allprojects nav .fa-angle-down {
  padding-left: 0.95em;
}

#allprojects nav ul li:hover ul {
  left: 0;
}

#allprojects .submenu {
  width: 100%;
  margin-top: 0.3em;
}

#allprojects .submenu button {
  width: 100%;
  text-align: center;
  color: #f2acac;
  background-color: #fff;
  border-left: 1.5px solid #e5e5e5;
  border-right: 1.5px solid #e5e5e5;
  border-bottom: 1.5px solid #e5e5e5;
}

#allprojects .submenu li:first-of-type button {
  border-top: 1.5px solid #e5e5e5;
  border-radius: 0.5em 0.5em 0 0;
}

#allprojects .submenu li:last-of-type button {
  border-radius: 0 0 0.5em 0.5em;
}

.project {
  background-color: #fafbfc;
  border: 1.5px solid #eaecef;
  border-radius: 1.25em;
  margin: 1.5625em 0;
}

.labels {
  display: flex;
  justify-content: flex-end;
}

.labels p {
  font-size: 0.8125em;
  width: fit-content;
  color: #f2acac;
  background-color: #fff;
  border: 1px solid #d7eae0;
  border-radius: 1.25em;
  padding: 0.4em 0.8em;
  margin: 1em 0.8em 1em 1em;
}

.labels p:last-of-type {
  margin-left: 0;
}

.project img {
  width: 90%;
  display: block;
  margin: 0.9375em auto auto auto;
}

.project:nth-of-type(2) img {
  width: 66.82%;
}

.project-preview {
  background-color: #fff;
  border-radius: 0 0 1.25em 1.25em;
  border-top: 1.5px solid #eaecef;
  padding: 0.87em;
}

.project-preview h3 {
  font-size: 1.25em;
  font-weight: 450;
  color: #7c7c7c;
}

.project-preview p {
  font-size: 0.9375em;
  color: #b1b1b1;
  margin: 0.5em 0;
  line-height: 1.25em;
}

.project-preview button:first-of-type {
  padding: 0 1.85em 0 0;
}

.project-preview a {
  color: #f2acac;
}

/*********** ABOUT PAGE ***********/
#about #intro img {
  width: 58%;
}

#about h4 {
  font-size: 0.9375em;
  color: #7c7c7c;
}

#about .intro p {
  margin-bottom: 1em;
}

#about section:nth-of-type(2) {
  margin: 2.2em 0 3.4375em 0;
}

#categories,
#categories button {
  display: flex;
}

#categories button {
  margin-right: 6%;
  padding: 0;
}

#categories button:nth-of-type(3) {
  margin-right: 0;
}

#categories button:first-of-type h3,
#categories button:hover h3 {
  font-weight: 500;
  color: #f2acac;
}

#categories h3 {
  font-size: 1.0625em;
  font-weight: 400;
  color: #b1b1b1;
  margin-left: 0.25em;
}

#categories img {
  width: 1.55em;
}

.category {
  transition: all 1s ease;
  margin-top: 1.125em;
}

#skills h4 {
  margin-bottom: 0.7em;
}

#skills i {
  font-size: 4.25em;
  color: #e5e5e5;
  margin-right: 0.3em;
}

#skills img {
  width: 3.65em;
  margin-right: 1.15em;
}

#skills img:last-of-type {
  margin-right: 0;
}

#education {
  max-width: 680px;
}

.school {
  display: flex;
  position: relative;
}

.line {
  margin-left: 0.45em;
  width: 0.3125em;
  background-color: #e5e5e5;
}

.school:first-of-type .line {
  border-radius: 1em 1em 0 0;
}

.school:nth-of-type(2) .line {
  border-radius: 0 0 1em 1em;
}

.school > div:nth-of-type(2) {
  width: 90%;
  padding: 0.7em 0 0.7em 1em;
}

#circle1,
#circle2 {
  position: absolute;
  left: -0.01em;
  width: 1.1875em;
  height: 1.1875em;
  background-color: #f2acac;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.school h4 {
  font-size: 1.25em;
}

.school p:first-of-type {
  font-size: 0.875em;
  color: #cbcbcb;
  margin: 0.3125em 0;
}

.school p:nth-of-type(2) {
  line-height: 1.4em;
}

#hobbies p {
  font-size: 1.0625em;
  margin: 1em 0;
}

/*********** CONTACT PAGE ***********/

#contact img {
  width: 100%;
  margin-top: 2em;
}

/*********** PROJECT PAGE ***********/
.title {
  background-color: #f9f9f9;
}

.title img {
  display: block;
  margin: auto;
  width: 70%;
}

.title > div {
  padding: 0 0.625em 0.625em 0.625em;
}

.title h2 {
  font-size: 1.4375em;
  font-weight: 600;
  margin: 0.25em 0;
}

.title h3 {
  font-family: "Nunito", sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  color: #ababab;
}

.title .hr-line {
  width: 100%;
  height: 0.04375em;
  background-color: #c4c2c3;
  margin: 0.625em 0 0.75em 0;
}

.title div div {
  display: flex;
}

.title p {
  font-size: 0.8125em;
  color: #b1b1b1;
  background-color: #fff;
  border: 1px solid #d7eae0;
  border-radius: 0.3125em;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.05);
  padding: 0.35em 0.5em;
  margin-right: 0.625em;
}
