body {
  font-family: "Arima Madurai", cursive;
  max-width: 1366px;
  min-width: 900px;
  margin: auto;
}

header,
section,
#cupofwater,
#time {
  position: relative;
}

.bubble,
#cupofwater p,
.totaloz,
#oz,
#time p,
.bar,
.bar p {
  position: absolute;
}

header {
  width: fit-content;
  margin: auto;
  padding: 70px 0 30px 0;
}

h1 {
  font-size: 68px;
  font-weight: 400;
  margin: 0;
}

.bubble {
  padding: 0;
  margin: 0;
  background-color: #d2f4f0;
  border: 1px solid #9deadf;
  border-radius: 50%;
}

.bubble:first-of-type {
  width: 12px;
  height: 12px;
  top: 15px;
  left: 250px;
}

.bubble:nth-of-type(2) {
  width: 16px;
  height: 16px;
  top: 35px;
  left: 280px;
}

.bubble:nth-of-type(3) {
  width: 24px;
  height: 24px;
  top: 70px;
  left: 256px;
}

#content,
#waterslider {
  display: flex;
}

section {
  margin: auto;
}

/* SECTION 1: WATER SLIDER */
#waterslider {
  flex-direction: column;
}

#timestamp {
  font-size: 36px;
  text-align: center;
  margin: 0;
}

#cupofwater {
  margin: 20px 0;
}

#cupofwater img {
  width: 100%;
}

.totaloz {
  font-weight: 300;
  margin: 0;
  color: #588de7;
}

.totaloz:first-of-type {
  font-size: 56px;
  top: 125px;
  left: 34%;
}

.totaloz:nth-of-type(2) {
  font-size: 28px;
  top: 190px;
  left: 39%;
}

#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 18px;
  background: #d2e8f4;
  border-radius: 10px;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #588de7;
  filter: drop-shadow(-1px 0 2px #b3b3b3);
  cursor: pointer;
}

/* SECTION 2: GRAPH */
#graphsection {
  width: 45%;
}

.graphline {
  background-color: #000000;
}

#oz {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4px;
  bottom: 0;
}

#time {
  width: 4px;
  height: 460px;
}

#time p {
  right: 15px;
}

.bar {
  height: 40px;
  background-color: #d2e8f4;
  left: 4px;
  transition: all 0.5s ease-in;
}

.bar:hover {
  background-color: #588de7;
}

.bar p {
  opacity: 0;
  font-weight: 500;
  font-size: 17px;
  margin: 14px 0;
  left: calc(100% + 7px);
  transition: all 0.5s ease-in;
}

.bar:hover p {
  opacity: 1;
}
