/* GENERAL STYLES */
body {
    width: 1366px;
    margin: auto;
    font-family: 'KoHo', sans-serif;
    position: relative;
}

button {
    display: block;
    width: 300px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 0;
    font-size: 32px;
}

button:hover {
    box-shadow: 1px 1.2px 3px 1px rgba(0, 0, 0, 0.55);
}

button:focus {
    outline: none;
}

section {
    display: none;
}

/* FRONT COVER */
section:first-of-type {
    display: flex;
}

/* header */
header {
    width: 80%;
    text-align: center;
    position: relative;
}

h1 {
    font-size: 68px;
    font-weight: 550;
    margin: 200px auto 0 auto;
}

#gamecontrol {
    display: block;
    position: absolute;
    top: 350px;
    right: 250px;
}

/* image */
section:first-of-type img {
    width: 410px;
}

/* HOW TO PLAY OVERLAY */
#instructions {
    position: absolute;
    top: 0;
    left: 0;
    width: 1366px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition-property: visibility, opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#instructions div {
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    width: 40vw;
    height: 65vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    box-shadow: 1px 1.2px 5px 1px rgba(58, 58, 58, 0.7);
    border: 1.5px solid black;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.showing {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

#close-btn {
    position: absolute;
    top: -22px;
    right: -12px;
    background: none;
    color: #000;
    width: 40px;
}

#close-btn:hover {
    box-shadow: none;
    transform: scale(1.2);
}

#instructions h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 550;
    margin: 0;
}

#instructions ul li {
    font-size: 18px;
    margin: 7px 10px 7px 0;
}

#instructions img {
    width: 500px;
}

/* PLAYERS NAME INPUT PAGE */
.card-holder {
    width: 740px;
    position: absolute;
    top: 35px;
    left: 325px;
}

input:focus {
    outline: none;
    background: none;
}

input {
    width: 187px;
    position: absolute;
    top: 460px;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    font-size: 30px;
    color: white;
    text-align: center;
}

input:first-of-type {
    left: 390px;
}

input:last-of-type {
    right: 362px;
}

#startgame {
    position: absolute;
    top: 590px;
    left: 578px;
    width: 200px;
    font-size: 30px;
}

section:nth-of-type(2) button:first-of-type,
section:nth-of-type(3) > button {
    display: block;
    width: 40px;
    position: absolute;
    top: 0;
    right: 15px;
    background: none;
    z-index: 1;
}

section:nth-of-type(2) button:first-of-type:hover,
section:nth-of-type(3) > button:hover {
    box-shadow: none;
}

/* GAME PAGE */
section:nth-of-type(3) {
    position: relative;
}

.player {
    width: 415px;
    position: absolute;
    font-size: 36px;
    top: 30px;
    text-align: center;
}

.player h2 {
    margin: 45px 0 40px 0;
    font-weight: 550;
    font-size: 45px;
}

.player p {
    margin: 12px 0;
    font-size: 32px;
}

.player p strong {
    font-size: 40px;
}

#player1 {
    left: 40px; 
}

#player2 {
    right: 40px;
}

section:nth-of-type(3) div img {
    width: 165px;
}

#game, #actions {
    position: absolute;
}

#game {
    top: 85px;
    left: 455px;
    width: 450px;
    text-align: center;
}

h3 {
    font-size: 56px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.num-of-carrots {
    font-size: 36px;
}

#game > div {
    margin: 50px 0;
}

#baskets {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 15px;
}

#game p {
    margin: 10px;
}

/* actions */
#actions {
    top: 515px;
    left: 495px;
    display: flex;
    position: relative;
    width: 380px;
}

#roll, #pass {
    width: 150px;
}

#btn-cover {
    display: none;
    position: absolute;
    width: 380px;
    height: 100px;
}

#quit {
    width: 110px;
    font-size: 28px;
    position: absolute;
    top: 100px;
    left: 700px;
    padding: 2px 0 8px 0;
    color: black;
    background-color: #fff;
    border: 1px solid #000;
}

#quit:hover {
    color: white;
    background-color: #000;
    border: none;
}

/* WINNER PAGE */
section:last-of-type {
    justify-content: space-evenly;
}

section:last-of-type img {
    width: 655px;
}

section:last-of-type div {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:last-of-type p:first-of-type {
    font-size: 35px;
    margin: 0;
}

#winner {
    font-size: 86px;
    font-weight: 600;
    margin: 25px;
}

#play-again {
    font-size: 30px;
    width: 280px;
}

/* FOOTER */
footer {
    position: absolute;
    top: 710px;
    display: flex;
    width: 1366px;
    justify-content: space-evenly;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}