body {
  max-width: 900px;
  margin: auto;
}

h1,
h2 {
  font-family: "Merriweather", serif;
}

h1 {
  text-align: center;
  margin: 30px 0;
}

section {
  background-color: #f1f0f0;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 15px 25px 15px;
}

h2 {
  font-size: 22px;
}

img {
  display: block;
  margin: auto;
}

p {
  line-height: 1.5em;
}

/* storyboard.html */
#storyboard-body {
  min-width: 900px;
  width: 1050px;
}

#storyboard-div {
  display: flex;
}

#storyboard-div section {
  max-width: 500px;
  margin: 0 10px;
}

#storyboard-div img {
  width: 400px;
}

/* analysis.html */
#analysis img {
  width: 800px;
}

#analysis p,
#brief p {
  font-size: 17px;
  line-height: 1.4em;
}

/* usability-results.html */
#results p {
  font-size: 17px;
}

#user2 {
  width: 550px;
}
